<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- en bloque -->
    <h1>Titulo</h1>
    <p>Hola</p>
    <!-- en linea -->
    
<span class="saludo"id="saludo inicial">Hola</span>
<img src="" alt="">
<a href="https://www.youtube.com/"></a>

<a href="../index.html">index</a>
<ol>
    <li>primero</li>
    <li>segundo</li>
    <li>tercero</li>
    <li>cuarto</li>
</ol>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- cass en el documento -->
<style>
    body{
        background-color: aqua;
    }
</style>
<div>

</div>
<!-- enlazar archivo de css -->
<link rel="stylesheet" href="assets/css/styles.css">


<!-- <!-- javaScript en el documento -->
<script>
    alert("Hola mundo")
</script> -->

<!-- enlazar un archivo de javascript -->
<script src="assets/js/main.js"></script>
<!-- alert("Hola mundo") se invalida -->

</body>
</html>