<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
</head>
<body>
    <h1>Maritza Lizbeth</h1>

    <p>Estudiante de Ingenieria en Sistemas </p>
    <ul>
        <li>Sociable</li>
        <li>Carismatica</li>
        <li>Capacidad de adaptacion</li>
    </ul>
    <hr>
    <img width="200px" src="https://scontent.fmex31-1.fna.fbcdn.net/v/t1.6435-9/119788077_3310957778993420_545657111945072600_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeF1V_U0AHbykF6iH5S454ZcE2TBcLO1vRwTZMFws7W9HCBj-MAHuZGEQYgxL61IElqISC4kWQtaKVY7tRRhWDZD&_nc_ohc=fVXDPK8vfhAAX-13AmO&_nc_ht=scontent.fmex31-1.fna&oh=00_AT_EILT2MYblHhbnIyA7aNhcBv2QFMP84W_ifEgYXBYb2A&oe=628379EC" alt="">
<hr>
<a href="mailto:bethrubio2017@gmail.com"></a>
<a href="tel:5531797807"></a>

<a href="producto.thml">sushi</a>

<ul>
    <li>Hacer ejercicio</li>
    <li>jugar basquet</li>
    <li>Comer</li>
    <li>Ver netflix</li>
</ul>

<hr>
<img width="300px" src="https://scontent.fmex31-1.fna.fbcdn.net/v/t1.6435-9/82500847_2701946076561263_7333669821994762240_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEJ6EVjyN9I7_FLZptbQz6rjhrPKjSLLIqOGs8qNIssiq8nOzhaTVr96R6ZmrGHJZ3W9eTgg7UtVl4KJ9OamYXW&_nc_ohc=y9leULFMyqkAX9zP5mN&_nc_ht=scontent.fmex31-1.fna&oh=00_AT-4ccB783Sjzoeql4oA9qXMMnoMqytNhajc-NHSrugSKA&oe=628145D2" alt="">


</body>
</html>